---
// Redirect to workbench
---
<html>
<head>
  <meta http-equiv="refresh" content="0;url=./workbench/" />
  <script>window.location.href = './workbench/';</script>
</head>
<body>
  <a href="./workbench/">Go to Quick Tools</a>
</body>
</html>
